# Игнорируем файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем бинарные файлы и директории
bin/
dist/
*.exe
*.out

# Игнорируем кэш Go
/.cache/
/go/pkg/

# Игнорируем локальные конфиги
/config/

# Игнорируем логи
*.log
/logs/

# Игнорируем временные файлы
/tmp/